<kendo-dialog-titlebar>
    <span class="text-color confirm">
        <i class="fas fa-question-circle"></i>
    </span>
  <span class="ml-2 font-bold">削除しますか？</span>
</kendo-dialog-titlebar>
<div class="px-6 py-8 min-w-[400px]">削除したデータは復元できません。</div>
<div class="mb-2 mr-6">
  <div class="flex justify-end gap-2">
    <button kendoButton themeColor="error" size="medium" (click)="onDelete()">削除</button>
    <button kendoButton fillMode="clear" size="medium" (click)="onCancel()">キャンセル</button>
  </div>
</div>
