<div class="functions">
  <ul class="functions__list">
    <li>
      <a (click)="onClickNewItem()">
        <i class="fa-solid fa-cart-arrow-down margin-5"></i><span>추가</span>
      </a>
    </li>
    <li>
      <a (click)="onClickDeleteItem()">
        <i class="fa-solid fa-xmark margin-5"></i><span>삭제</span>
      </a>
    </li>
  </ul>
</div>
<div class="product__grid">
  <kendo-grid
    [(selectedKeys)]="selectedIds"
    [data]="gridData"
    [pageSize]="10"
    [scrollable]="'virtual'"
    [sortable]="true"
    kendoGridSelectBy="id">
    <kendo-grid-checkbox-column [showSelectAll]="true" [width]="30"></kendo-grid-checkbox-column>
    <kendo-grid-column [width]="90">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="product__image-wrapper">
          <a href="{{ dataItem.url }}">
            <img class="product__image" src="{{ dataItem.attachment.url }}">
          </a>
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column [width]="350">
      <ng-template kendoGridCellTemplate let-dataItem>
        <h3>{{ dataItem.brandName }}</h3>
        <a class="product__name" href="{{ dataItem.url }}">{{ dataItem.name }}</a>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column [width]="80">
      <ng-template kendoGridCellTemplate let-dataItem>
        <p class="product__price-original">{{ dataItem.originalPrice | number: '1.0-0' }}원</p>
        <div class="product__price">
          <p class="product__price-current">{{ dataItem.currentPrice | number: '1.0-0' }}원</p>
          <p class="product__price-discount-percent">{{ dataItem.discountPercent }}%</p>
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column [width]="60">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="k-text-center">
          <button kendoButton size="medium" themeColor="primary">가격 변동 추이</button>
        </div>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
