.header {
  width: 100%;
  background: #ffffff;
  margin-bottom: 30px;
  &__inner {
    height: 80px;
    margin: 0 auto;
  }
  &__logo {
    width: 160px;
    a {
      display: block;
      img {
        width: auto;
        height: 70px;
        vertical-align: bottom;
      }
    }
  }
}

.content {
  padding: 0 0 44px;
  background: #ebf0f2;
  &__inner {
    width:  1024px;
    margin: 0 auto;
    div {
      margin-bottom: 32px;
    }
    section {
      display: block;
    }
  }
  &__main {
    width: 676px;
  }
}

.page-404 {
  &__box {
    background: white;
    margin-top: 100px;
    padding: 48px 0 56px;
    text-align: center;
    border-radius: 4px;
    background-clip: padding-box;
  }
  &__title {
    position: relative;
    padding-top: 86px;
    margin-bottom: 32px;
    text-align: center;
  }
  &__text--lead {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 16px;
  }
  &__text {
    font-size: 13px;
    line-height: 1.3846153846;
    margin-bottom: 36px;
  }
}

.footer {
  padding: 5px;
  &__inner {
    display: flex;
    justify-content: center;
  }
}
