.functions {
  display: flex;
  &__list {
    list-style-type: none;
    margin: 5px;
    padding: 0px;
    cursor: pointer;
    li {
      float: left;
    }
  }
}

.add {
  &__content {
    margin: 100px 225px 100px;
  }
  &__input {
    width: 550px;
  }
  &__buttons {
    display: flex;
    justify-content: end;
    h3 {
      margin : 7px 10px 10px 10px;
    }
  }
}

.info {
  &__content {
    display: flex;
    &-image {
      height: 240px;
      margin: 0px 100px;
    }
    &-detail {
      margin-top: 15px;
      margin-right: 50px;
    }
  }
  &__buttons {
    display: flex;
    justify-content: end;
    h3 {
      margin : 7px 10px 10px 10px;
    }
  }
}
