<div>
  <form [formGroup]="newForm">
    <div class="add__content">
      <kendo-formfield>
        <kendo-label text="상품 URL" class="required"></kendo-label>
        <input
          class="add__input"
          formControlName="url"
          placeholder=""
          type="text" />
        <kendo-formerror>입력해주세요</kendo-formerror>
      </kendo-formfield>
    </div>
    <div class="add__buttons">
      <h3>1/2</h3>
      <div>
        <button (click)="onClickNext()" kendoButton size="medium" themeColor="primary">다음</button>
        <button (click)="onClickClear()" fillMode="clear" kendoButton size="medium">리셋</button>
      </div>
    </div>
  </form>
</div>
