<div>
  <form [formGroup]="newForm">
    <div class="add__content">
      <kendo-formfield>
        <kendo-label class="required" text="상품 URL"></kendo-label>
        <input
          (blur)="onBlur()"
          class="add__input"
          formControlName="url"
          placeholder=""
          type="text" />
        <kendo-formerror *ngIf="url.invalid && url.hasError('required')">입력해주세요</kendo-formerror>
        <kendo-formerror *ngIf="url.invalid && url.hasError('invalidUrl')">W컨셉 URL을 입력해주세요</kendo-formerror>
      </kendo-formfield>
    </div>
    <div class="add__buttons">
      <h3>1/2</h3>
      <div>
        <button (click)="onClickNext()" kendoButton size="medium" themeColor="primary">다음</button>
        <button (click)="onClickClear()" fillMode="clear" kendoButton size="medium">리셋</button>
      </div>
    </div>
  </form>
</div>
